<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments.html :: adminHead"></head>
<body>
    <header th:replace="admin/fragments.html :: adminHeader"></header>
    <nav th:replace="admin/fragments.html :: adminNav"></nav>
    <div class="admin-about-container admin-container">
        <div class="btn-bar clearfix">
            <button id="save-btn" class="save-btn btn btn-primary pull-right">저장</button>
        </div>
        <div id="editor" class="editor"></div>
    </div>
    <script src="/js/adminAboutPage.js"></script>
</body>
</html>