body {
    font-family: Arial, Helvetica, sans-serif;
}

.pull-right {
    float: right;
}

/* Header */
.header {
    width: 100%;
    height: 50px;
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
}

.header .nav-item {
    line-height: 50px;
    color: #ffbb01;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
    transition: 0.3s;
    transition-property: text-shadow;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.header .nav-item:hover {
    text-shadow: 0 1px 10px rgba(255, 187, 1, 1);
}

.header .nav-item.back-icon {
    font-size: 20px;
    transition: none;
    color: #ffffff;
}

.header .nav-item.back-icon:hover {
    text-shadow: none;
}

/* Home page styles */
.home-container {
    min-height: 100vh;
    background-color: #ffbb01;
    color: #000000;
    position: relative;
    overflow: hidden;
}

.home-container .header {
    background: none;
    position: absolute;
}

.home-container .header .nav-item {
    color: #000000;
}

.home-container .header .nav-item:hover {
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.home-container .front-end-text {
    font-weight: bold;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px #000000;
}

/* Login Page */
.login-container {
    min-height: 100vh;
    background-color: #ffbb01;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.login-container .login-form {
    width: 500px;
    border-radius: 20px;
    background-color: #000000;
    box-shadow: 0 0 20px 1px #000000;
}
.login-container .login-form .form {
    width: 80%;
    margin: 0 auto;
}

.login-container .login-form .login-title {
    color: #ffffff;
    text-align: center;
    margin: 30px 0 50px;
}

.login-container .login-form .form .form-group {
    margin: 20px 0;
}

.login-container .login-form .form .form-group label {
    color: #ffffff;
}

.login-container .login-form .form .form-group .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    outline: none;
    color: #ffffff;
}

.login-container .login-form .form .form-group .form-control:focus {
    box-shadow: none;
}

.login-container .login-form .form .login-btn {
    width: 100%;
    background-color: #ffbb01;
    border-color: #ffbb01;
    margin: 50px 0 30px;
    transition: 0.3s;
    transition-property: box-shadow;
    box-shadow: 0 0 0 0 #ffbb01;
}

.login-container .login-form .form .login-btn:focus {
    box-shadow: none;
}

.login-container .login-form .form .login-btn:hover {
    box-shadow: 0 0 10px 1px #ffbb01;
}

/* Container */
.about-container,
.contact-us-container {
    margin-top: 50px;
}

/* About Page */

/* Documents Page */
.documents-container {
    display: flex;
}

.documents-container .documents {
    width: 300px;
    height: 100vh;
    background-color: #ffbb01;
    box-sizing: border-box;
    padding-top: 50px;
    margin: 0;
}

.documents-container .document-content {
    margin-top: 50px;
    flex: 1;
    box-sizing: border-box;
    padding: 10px 20px;
}