<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: header"></header>
    <div class="home-container">
        <div class="header clearfix">
            <a class="nav-item pull-right" href="/documents">Documents</a>
            <a class="nav-item pull-right" href="/about">About</a>
        </div>
        <b id="front-end-text" class="front-end-text">Front-End Developer</b>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>