<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h2 class="login-title">Login</h2>
            <div class="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Enter password">
                </div>

                <button id="login-btn" type="button" class="login-btn btn btn-primary btn-lg">Login</button>
            </div>
        </div>
    </div>
    <script src="/js/loginPage.js"></script>
</body>
</html>